body {
    background-color: rgba(243, 243, 243, 0.945);
    color: black;
    font-family: Arial;
    font-size: 20px;
}

/** Navbar button color**/
a {
    color: blue;
}

nav {
    background: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
}

#skills, #portfolio {
    padding-top: 100px;
}

#about {
    padding-top: 150px;
}

.profilePic {
    display: block;
    text-align: center;
    height: auto;
    width: 300px;
    border-radius: 10%;
}

#skills {
    text-align: center;
}

.row {
    display: block;
    flex-wrap: wrap;
}

blockquote{
    font-size: 30px;
    width: 90%;
    text-align: center;
    padding-top: 10%;
}

.conrad{
    text-align: right;
}

.contactIntro, #contactForm {
    display: block;
    flex: wrap;
    margin: 0 auto;
}

.lineBreak {
    border-top: 2px solid rgb(119, 116, 116);
    width: 50%;
}

/**
.footer {
    height: 50px;
    padding-top: 5px;
    background-color: black;
    color: white;
    text-align: center;
}
**/

#footer-bottom {
    color: white;
    background-color: black;
    padding: 25px 0;
    text-align: center;  
    font-size: 15px;  
}

section{
    width: 100;
    margin: 0 auto;
    padding: 1em;
}

section:nth-child(odd) {
    background: rgb(184, 184, 187);
}

.social {
    color: black;
    display: inline-block;
    
}